
@import "tailwindcss";

/* LINESeedSans font faces */

@font-face {
  font-family: 'LINESeedSans';
  src: url('/font/LINESeedSans/LINESeedSansTH_W_Th.woff2') format('woff2'),
       url('/font/LINESeedSans/LINESeedSansTH_W_Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINESeedSans';
  src: url('/font/LINESeedSans/LINESeedSansTH_W_Rg.woff2') format('woff2'),
       url('/font/LINESeedSans/LINESeedSansTH_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINESeedSans';
  src: url('/font/LINESeedSans/LINESeedSansTH_W_He.woff2') format('woff2'),
       url('/font/LINESeedSans/LINESeedSansTH_W_He.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINESeedSans';
  src: url('/font/LINESeedSans/LINESeedSansTH_W_Bd.woff2') format('woff2'),
       url('/font/LINESeedSans/LINESeedSansTH_W_Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINESeedSans';
  src: url('/font/LINESeedSans/LINESeedSansTH_W_XBd.woff2') format('woff2'),
       url('/font/LINESeedSans/LINESeedSansTH_W_XBd.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'LINESeedSans', sans-serif;
  --font-mono: 'LINESeedSans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'LINESeedSans', sans-serif;
}
